<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>NICHE</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">
{#      <link rel="stylesheet" href="/assets/css/styles.css">#}
{#    <link rel="stylesheet" href="/assets/css/switchery.min.css">#}
      <link rel="shortcut icon" href="http://static.tmimgcdn.com/img/favicon.ico">
  <link rel="icon" href="http://static.tmimgcdn.com/img/favicon.ico">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="/assets/js/switchery.min.js"></script>

    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="wrapper">

      <h1>Horizontal Responsive Form</h1>

          <form onsubmit="return false">
              <div class="col-2">
                <label>
                  Name
                  <input placeholder="What is your full name?" id="name" name="name" tabindex="1">
                </label>
              </div>

              <div class="col-3">
                <label>
                  Phone Number
                  <input placeholder="Phone" id="phone" name="phone" tabindex="3">
                </label>
              </div>
              <div class="col-3">
                <label>
                  Email
                  <input placeholder="What is your e-mail address?" id="email" name="email" tabindex="4">
                </label>
              </div>


              <div class="col-submit">
                <button class="submitbtn">Submit Form</button>
              </div>

          </form>
      </div>
    <script>
    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    elems.forEach(function(html) {
      var switchery = new Switchery(html);
    });
    </script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/static/img/weather.jpg", {speed: 500});
    </script>


  </body>
</html>
