<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>NICHE</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/js/gritter/css/jquery.gritter.css" />

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>NICHE</b></a>
            <!--logo end-->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/templates/login">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href=""><img src="/static/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Admin</h5>

                  <li class="mt">
                      <a class="active" href="/templates/login_data">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Database</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/templates/basic_table">Database View</a></li>
                      </ul>
                  </li>



              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Visit Management</h3>

          	<!-- BASIC FORM ELELEMNTS -->
            <div class="form-panel">

                <form class="form-horizontal style-form">
                <div class="form-group">

                  <div class="col-sm-10">
                      <h4><i class="fa fa-angle-right"></i> {{ output_data['name']}} </h4>
                  </div>
                </div>
                </form>
            </div><!-- /row -->

          	<div class="row">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Create Visit</h4>
                        <form class="form-horizontal style-form" action="{{ url_for('handle_data') }}" method="post">
                        <div class="form-group">
                          <label for="dropdown" class="col-sm-2 col-sm-2 control-label">Country</label>

                          <div class="col-sm-10">
                              <select id="dropdown" name="country" >
                                <option>Select</option>
                                  {% for row in output_data['countries'] %}
                                <option>{{ row }}</option>
                                  {% endfor %}
                              </select >
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="country" class="col-sm-2 col-sm-2 control-label">Select Cycle</label>
                                <div class="col-sm-10">
                                        <select class="Cycle" id='secondList' name='secondList' >
                                        </select>
                                </div>
                        </div>

                        <script>
                            var options = '';
                            $.each(data, function(index, value) {
                                options += '<option value="' + value.abc + '" text="' + value.abc + '" />';
                            });

                            $('.Cycle').append(options);
                        </script>
                        <button class="button" name="button1" value="upload" type="submit">Submit</button>
                        <button class="button1" type="button" onclick="goBack()">Go Back</button>

                        <script>
                        function goBack() {
                          window.history.back();
                        }
                        </script>

                      </form>
                  </div>

          	</div><!-- /row -->



		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              NICHE-2021
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/static/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
    <script src="/static/js/jquery.nicescroll.js" type="text/javascript"></script>

    <!--common script for all pages-->
    <script src="/static/js/common-scripts.js"></script>

    <!--script for this page-->
    <script type="text/javascript" src="/static/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="/static/js/gritter-conf.js"></script>

  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  </body>
<style>
        .button {
          background-color: #68dff0;
          border: none;
          color: white;
          padding: 17px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
        .button1 {
          background-color: #111313;
          border: none;
          color: white;
          padding: 17px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
    </style>
</html>
